/* STYLES FOR CONTENT SECTIONS */

body
{
    margin-bottom: 5%;
}


/* CONTENT SECTION */
h6
{
    /*
     * Text style h6 headers.
     */
    font-size: 18px;
    color: #212121;
    font-weight: 400;
}

.date
{
    /*
     * Text style for dates etc.
     */
    font-size: 14px;
    font-weight: 200;
    color: #757575;
}

.primary_content
{
    /*
     * Text style for text in site's body.
     */
    text-align: justify;
    color: #212121;
    font-weight: 300;
}

.secondary_content
{
    /*
     * Text style for text in site's body.
     */
    color: #757575;
    font-weight: 200;
}

.secondary_href
{
    /*
     * Text style for links in site's body.
     */
    color: #757575;
    font-weight: 200;
}

.secondary_href:hover
{
    /*
     * Text style for text in site's body.
     */
    color: #607D8B;
    font-weight: 200;
}

.border_bottom
{
    /*
     * Bottom line .5px #BDBDBD
     */
    border-bottom: .5px solid #BDBDBD;
}

.ml-25pc
{
    /*
     * Left margin equals to 25%
     */
    margin-left: 25%;
}

.mt-5pc
{
    /*
     * Top margin equals to 5%
     */
    margin-top: 5%;
}